/* nav > * {
  margin: 10px;
} */
.layout {
  margin: 20px 0px;
}

.container {
  padding: 0 50px;
}

.profile-data > * {
  display: inline-block;
}

.profile-data img {
  width: 7rem;
  margin-right: 1rem;
}

.invisible {
  display: none;
}

.left-aligned {
  text-align: left;
}

.modal .ant-modal .ant-modal-title {
  font-size: 2rem;
}